/* Google Web Font CDN */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

/* Fontawesome CDN 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* XEICON CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* Reset CSS */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
ul {
	list-style: none;
	padding: 0;
}
a {
	text-decoration: none;
	color: #222;
}

/* Default CSS*/
body {
	font-family: 'Raleway', sans-serif;
	color: #222;
	font-size: 15px;
	margin: 0;
	height: 100vh;
	background-color: #fff;
}